* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.6;
  background-color: #f4f4f4;
  color: #333;
}

.cabecalho {
  background-color: #27EEF5;
  color: white;
  text-align: center;
  padding: 30px;
}

.conteudo {
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
  background-color: white;
  border-radius: 8px;
}

.destaque {
  background-color: #ffeaa7;
  padding: 10px;
  border-left: 4px solid #f39c12;
}

.cartoes {
  display: flex;<br/>
  gap: 15px;<br/>
  margin-top: 20px;
}

.charmander {
  flex: 1;              /* cada cartão ocupa largura igual */<br/>
  background-color: #3498db;<br/>
  color: #FFA500;<br/>
  padding: 20px;<br/>
  text-align: center;<br/>
  border-radius: 6px;
}

.squirtle {
  flex: 1;              /* cada cartão ocupa largura igual */<br/>
  background-color: #3498db;<br/>
  color: #0000FF;<br/>
  padding: 20px;<br/>
  text-align: center;<br/>
  border-radius: 6px;
}
.bulbasaur {
  flex: 1;              /* cada cartão ocupa largura igual */<br/>
  background-color: #3498db;<br/>
  color: #00FF00;<br/>
  padding: 20px;<br/>
  text-align: center;<br/>
  border-radius: 6px;
}

